.burger {
    width: 44px;
    height: 37px;
    justify-content: center;
    align-items: center;
    display: flex;
    &__icon {
        width: 26px;
        height: 3px;
        background-color: #fff;
        position: relative;
        border-radius: 5px;
        transition: background-color .2s linear;
    }
    &__icon::before {
        content: "";
        display: block;
        width: 15px;
        height: 3px;
        background-color: #fff;
        position: absolute;
        right: 0;
        top: -9px;
        transition: transform $trans-time ease-in, top $trans-time linear $trans-time, width $trans-time;
        border-radius: 5px;
    }
    &__icon::after {
        content: "";
        display: block;
        width: 26px;
        height: 3px;
        background-color: #fff;
        position: absolute;
        left: 0;
        top: 9px;
        transition: transform $trans-time ease-in, top $trans-time linear $trans-time;
        border-radius: 5px;
    }
    &__icon--active {
        background-color: transparent;
    }
    &__icon--active::before {
        width: 26px;
        transform: rotate(45deg);
        top: 0;
        transition: width $trans-time, top $trans-time linear, transform $trans-time ease-in $trans-time;
    }
    &__icon--active::after {
        transform: rotate(-45deg);
        top: 0;
        transition: top $trans-time linear, transform $trans-time ease-in $trans-time;
    }

    @media (min-width: $screen-md) {
        display: none;
    }
}
