.title{
    &__text{
        @include montserrat-bold;
        color:$editorCol;
        padding: 0 15px 0 15px;
        font-size: 26px;
        text-transform: uppercase;;
        text-align: center;
        @media (min-width:$screen-md) {
            font-size: 42px;
       }
        @media (min-width:$screen-lg) {
            font-size: 54px;
       }
    }
 
}
.text{
    &__wrapper{
        text-align: center;
        max-width: 100%;
    }
    @media (min-width:$screen-md) {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        font-size: 21px;
   }
    @media (min-width:$screen-lg) {
        max-width: 861px;
        margin-left: auto;
        margin-right: auto;
   }

}

.editor{
    &__links-wrapper{
        padding: 10px 11px;
        margin-left: auto;
        margin-right: auto;
        max-width:300px;
        @media (min-width:$screen-md) {
            min-width: 100%;
            margin-left: auto;
            margin-right: auto;
           
       }
       
    }
    &__link-body{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content:center
    }
    &__wrapper{
     margin-top: 79px;
    }
    @media (min-width:$screen-md) {
         padding-top: 93px;
    }
}
.icons{
    &__item{
        border: 0.5px solid grey;
        border-radius: 3px;
        margin:5px 10px 10px 5px;
        display: flex;
        align-items: center;
    }
    &__link{
        background-color: #e1e4e8;
        display: flex;
        align-items: center;
        padding: 2px 10px;
        border-right: 1px solid black;
    }
    &__number{
        margin-left: 7px;
        margin-right: 5px;
        width: 100%;
    }
}




