.features {
    width: 100%;
    text-align: center;
    overflow: hidden;
    text-align: center;
    background-color: rgb(244, 244, 244);
  
    &__container{
      padding: 80px 0 55px 0;
      max-width: 1200px;
      text-align: center;
      display: grid;
      grid-template-columns:repeat(2,1fr);
      grid-template-rows: 1fr 6fr;
      grid-column-gap: 25px;
      grid-row-gap: 50px;
      grid-template-areas: 'features title' 'features image';
    }
  
    &-list {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      grid-area: features;
    }
  
    &-item {
      width: 100%;
      text-align: left;
      margin: 0 0 12px 0;
     
      font-size: 14px;
      line-height: 20px;
      color: $greyCol;
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-start;
  
      &__icon-block {
        display: inline-block;
        width: 120px;
        height: 90px;
        text-align: center;
        margin-right: 23px;
      }
  
      &__about-block {
        display: inline-block;
        max-width: 365px;
      }
  
      &__title {
        margin: 0 0 10px 0;
        color: $darkCol;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
      }
  
      &__desc {
        margin: 0;
        color: $greyCol;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
      }
    }
  
    &__img-block {
        border-radius: 5px 0 0 5px;
        background-image: url(./dist/img/main/features/features-imgs/icon3.png);
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: -1px -1px 26px -5px rgba(0, 0, 0, 0.75);
        grid-area: image;
    }
  }
  
  .section-title-two {
    max-width: 977px;
    grid-area: title;
  
    &__heading {
   
      color: $accentCol;
      font-size: 48px;
      font-weight: 700;
      vertical-align: top;
      margin: 0;
      text-align: left;
    }
  
  }
  
  @media (max-width: $screen-lg) {
    .features {
      overflow: hidden;
      &__img-block {
        background-size: cover;
      }

      &__container {
        margin: 0 auto;
        padding: 0 10px;
        max-width: 992px;
        text-align: center;
        grid-template-columns: auto;
        grid-template-rows: auto 2fr 2fr;
        grid-row-gap: 50px;
        grid-template-areas: 'title' 'features' 'image';
      }
  
      &-list {
        margin: 0 auto;
  
      }
  
      &-item {
        margin: 0 0 28px 20px;
        display: inline-grid;
        grid-template-columns: 1fr 4fr;
        align-items: center;
        justify-content: center;
  
        &__about-block {
          max-width: 100%;
        }
  
      }
  
    }
    .section-title-two {
      margin: 54px auto;
  
      &__heading {
        font-size: 42px;
        text-align: center;
      }
    }
  
    .social-links {
      margin: 0 auto;
      max-width: 600px;
    }
  }
  
  @media  (max-width: $screen-md) {
  
    .section-title-two__heading {
      font-size: 32px;
    }
  
  }
  @media (max-width: $screen-md){
  
    .features {
  
      .container {
        grid-template-rows: auto 2fr 1fr;
        grid-row-gap: 68px;
      }
  
      .section-title-two {
  
        &__heading {
          font-size: 40px;
          text-align: center;
          padding: 0 45px;
        }
      }
  
    }
  }
  
  @media(max-width: $screen-md) {
    .features {
        text-align: center;
      &__container {
        grid-row-gap: 0;
      }
  
      &-item {
        margin: 0 0 40px 0;
        grid-template-columns: auto;
  
        &__icon-block {
          margin: 0 auto;
          text-align: center;
        }
  
        &__about-block {
          text-align: center;
          padding: 0 10px;
        }
  
        &__title {
          text-align: center;
        }
  
        &__desc {
          text-align: center;
        }
  
      }
  
      .section-title-two {
        &__heading {
          font-size: 32px;
          text-align: center;
          padding: 0 30px;
        }
      }
  
    }
    
}
  