.fork {
    @include montserrat-reg;
    text-align: center;
    position: relative;
    z-index: -2;
    &__bg-wrap{
        min-height: 615px;
        background-image: url("../img/main/fork/fork-bg-sm.jpg");
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        @media (min-width: $screen-md) {
            background-image: url("../img/main/fork/fork-bg-md.jpg");
            min-height: 800px;
        }

        @media (min-width: $screen-lg) {
            background-image: url("../img/main/fork/fork-bg-lg.jpg");
        }
    }
    &__inner {
        padding: 50px 20px 0;
        @media (min-width: $screen-md) {
            padding-top: 70px;
        }

        @media (min-width: $screen-lg) {
            padding-top: 85px;
        }
    }
    &__title {
        @include montserrat-bold;
        font-size: 48px;
        color: $whiteCol;

        @media (min-width: $screen-md) {
            font-size: 72px;
        }
        @media (min-width: $screen-lg) {
            font-size: 82px;
        }

    }
    &__subtitle-lg {
        @include lato-reg;
        font-size: 18px;
        line-height: 24px;
        color: $accentCol;
        margin-top: 20px;
        text-transform: capitalize;

        @media (min-width: $screen-md) {
            font-size: 24px;
        }
        @media (min-width: $screen-lg) {
            font-size: 30px;
        }
    }
    &__subtitle-sm {
        font-size: 14px;
        color: $greyCol;
        margin-top: 15px;
        text-transform: uppercase;

        @media (min-width: $screen-lg) {
            font-size: 16px;
        }
    }
    &__btn {
        display: inline-block;
        vertical-align: middle;
        transform: translateY(-50%);
        @include montserrat-bold;
        font-size: 18px;
        padding: 13px 30px;
        color: $whiteCol;
        background-color: $accentCol;
        border-radius: 40px;

        @media (min-width: $screen-md) {
            font-size: 21px;
            padding: 23px 61px;
        }
        @media (min-width: $screen-lg) {
            font-size: 30px;
        }
    }
    &__btn-subtext {
        font-size: 14px;
        color: $greyCol;
        margin-top: -10px;
    }

}
