.header {
    @include montserrat-bold;
    background-color: $headerBgCol;
    position: relative;
    &__inner {
        min-height: 105px;
        padding: 0 6px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        @media (min-width: $screen-md) {
            min-height: 120px;
            flex-wrap: wrap;
        }
        @media (min-width: $screen-lg) {
            min-height: 100px;
            flex-wrap: nowrap;
        }
    }
    &__logo {
        height: 41px;
    }
    &__btn {
        font-size: 15px;
        padding: 12px 25px;
        color: $whiteCol;
        background-color: $accentCol;
        border-radius: 40px;

        @media (min-width: $screen-md) {
            padding: 12px 37px;
        }
        @media (min-width: $screen-lg) {
            order: 1;
        }
    }
}

.navbar {
    &__menu-wrapper {
        width: 100%;
        height: $burger-menu-wrap-h;
        position: absolute;
        top: -$burger-menu-h + 105px;
        left: 0;
        z-index: -1;
        display: flex;
        justify-content: center;

        @media (min-width: $screen-md) {
            position: static;
            display: flex;
            justify-content: center;
            height: auto;
        }
    }

    @media (min-width: $screen-md) {
        width: 100%;
    }
    @media (min-width: $screen-lg) {
        width: 520px;
    }
}

.menu {
    @include zero-marg;
    @include montserrat-reg;
    width: 292px;
    height: $burger-menu-h;
    display: flex;
    flex-flow: column wrap;
    background-color: #333333;
    transition: all .4s ease-out;

    &__item {
        height: 88px;
        border-bottom: 3px solid #3b3b3b;
        padding-top: 30px;
        padding-left: 35px;
        position: relative;

        @media (min-width: $screen-md) {
            height: auto;
            border-bottom: none;
            padding: 0;
            position: static;
        }
    }
    &__link {
        font-size: 26px;
        color: $whiteCol;
        transition: all .3s;

        @media (min-width: $screen-md) {
            font-size: 16px;
            color: $accentCol;
            transition: all .3s;
        }
    }
    &__link::before{
        content: "";
        position: absolute;
        top: 19px;
        left: 3px;
        display: block;
        background-color: $accentCol;
        opacity: 0;
        width: 8px;
        height: 53px;

        @media (min-width: $screen-md) {
            display: none;
        }
    }
    &__link:hover {
        color: $accentCol;
    }
    &__link:hover::before {
        opacity: 1;
    }
    &--active {
        transform: translateY($burger-menu-h);
    }

    @media (min-width: $screen-md) {
        @include montserrat-bold;
        width: 520px;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-flow: row nowrap;
        background-color: inherit;
    }
}
