.pricing{
    min-height: 700px;
    margin: 0;
    text-align: center;
    padding-top: 57px;
    background-image: url("../img/main/pricing/pricing-imgs/pricing.png");
    background-position: center;
  background-size: cover;
    &__wrapper{
        margin: 0;
    }
    &__title{
        color: $whiteCol;
        font-size: 28px;
        margin-bottom: 61px;
        @include  montserrat-bold;

    }
}
.table-wrapper{
    display: grid;
    grid-template-columns: repeat(1,257px);
    justify-content: center;
    grid-gap: 25px;
    @media (min-width:$screen-md){
        grid-template-columns: repeat(2,257px);
    }
    @media (min-width:$screen-lg){
        grid-template-columns: repeat(4,257px);
    }
}

.table{
    margin: 0px;   
    max-width: 257px;
    margin-right: 15px;
    margin-bottom: 18px;
    &__name{
        background: rgba(255,255,255,.084);
    }
  
    &__name-scaled{
        background: rgba(255,255,255,.011);
    }
    &__title:nth-child(1){
        padding:31px 61px;
    }
    &__title:nth-child(2){
        padding:31px 42.7px;
    }
    &__title:nth-child(3){
        padding:43px;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    &__title:nth-child(4){
        padding:36px 49px;
    }
    &__title{
        @include  montserrat-reg;
        color: $whiteCol;
        margin: 0;
        font-size: 24px;
    }
    &__description-dark{
        transform: scale(1.1);
        background: rgba(0,0,0,0.11);
        margin-bottom: 18px; 
        @media (min-width:$screen-md){
            margin-right: 24px;
            margin-bottom: 94px;
       }
    }
    &__description{
        padding-right: 15px;
        background: rgba(255,255,255,.06);
        max-height: 457px;
    }
    &__description-scaled{
        background: rgba(0,0,0,.084);
    }
    &__price{
        @include  montserrat-bold;
        font-size: 60px;
        color: $whiteCol;
        padding: 40px 30px;
    }
    &__price-scaled{
        font-size: 82px;
    }
    &__price-desc{
        @include montserrat-reg;
        color: $whiteCol;
        text-transform: uppercase;
        font-size: 14px;
      
    }
    &__price-desc::after{
        content: url("../img/main/pricing/pricing-imgs/sep.png");
        display: block;
        position: relative;
        top: 40px;
    }
    &__subtitle{
        @include montserrat-reg;
        color: $whiteCol;
        font-size: 16px;
        margin-top: 73px;
        margin-bottom: 37px;
    }
    &__btn{
        text-decoration: none;
        font-size:15px;
        @include montserrat-reg;
        color: $whiteCol;
        border: none;
        padding: 13px 30px;
        margin-bottom: 61px;
        border-radius: 40px;
        background: rgba(119,107,121,.6);
    }
}
