.testimonials {
    min-height: 1700px;
    background-image: url(../img/main/testimonials/testmonials-bg-sm.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 57px;
    &__title {
        @include montserrat-bold;
        font-size: 36px;
        color: $whiteCol;
        line-height: 48px;
        margin: 0;

        @media (min-width: $screen-md) {
            font-size: 42px;
        }
        @media (min-width: $screen-lg) {
            font-size: 48px;
        }
    }

    &__text {
        @include lato-reg;
        font-size: 14px;
        line-height: 21px;
        color: #A291A5;
        padding: 0px 25px;
        margin: 30px 0 0;
        position: relative;
        @media (min-width: $screen-md) {
            margin-top: 10px;
        }
    }
    &__text::after {
        content: "";
        display: block;
        width: 245px;
        height: 2px;
        background-color: #645766;
        bottom: -22px;
        position: absolute;
    }

    @media (min-width: $screen-md) {
        min-height: 900px;
        padding-top: 85px;
        background-image: url(../img/main/testimonials/testmonials-bg-md.jpg);
    }
    @media (min-width: $screen-lg) {
        min-height: 800px;
        padding-top: 110px;
        background-image: url(../img/main/testimonials/testmonials-bg-lg.jpg);
    }
}

.cards {
    @include zero-marg;
    min-height: 1200px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    color: $whiteCol;
    margin-top: 53px;
    &__item {
        max-width: 315px;
    }
    &__desc {
        @include lato-bold;
        font-size: 16px;
        font-style: italic;
        line-height: 24px;
        margin: 30px 0 0;
    }

    @media (min-width: $screen-md) {
        min-height: 600px;
        flex-flow: row wrap;
        align-items: flex-start;
        margin-top: 90px;
    }
    @media (min-width: $screen-lg) {

    }
}

@media (min-width: $screen-md) {

}
@media (min-width: $screen-lg) {

}
