//colors
$blackCol: #000000;
$accentCol: #8D81AC;
$greyCol: #848E97;
$whiteCol: #ffffff;
$darkCol: #323232;
$editorCol: #635C73;
$headerBgCol: #27262A;
$headerMenuBdBotCol: #3b3b3b;
$burgerMenuBgCol: #333333;
$featuresBgCol: #F4F4F4;
$testDescCol: #A291A5;
$testSingleLineCol: #645766;
$pricingScaleCard: #463048;


//fonts
$montserrat: 'Montserrat', 'Arial', sans-serif;
$lato: 'Lato', 'Arial', sans-serif;

//font-sizes
$stdFont: 16px;

$trans-time: .2s;

//screen width
$screen-sm: 320px;
$screen-md: 481px;
$screen-lg: 993px;
$screen-xl: 1200px;

//all height
$burger-menu-h: 380px;
$burger-menu-wrap-h: $burger-menu-h * 2;
